ul {
    list-style-type: none;
    margin:0;
    padding:10px 10px;
    text-align: center;
    background-color: cadetblue;
    border:4px solid darkslategrey;
    border-radius: 5px;
}

li {
    display:inline-block;
    padding:10px 20px;
    font-size: 30px;
    font-family: 'Maitree', 'bold';
    text-emphasis: none;
    color: white;
    
}

li:hover {
    background-color: aliceblue;
    color:darkslategray;
    border-radius: 20px;
}


a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-family: 'Maitree', 'bold';
    text-align: center;
    font-weight: 600;
    width:300px;
    padding:5px 0px;
    margin:0 auto 40px auto;
    background-color: aliceblue;
    border:8px solid slategrey;
    border-radius: 2px;
    font-size: 25px;
}

p {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    margin:20px 50px;
    padding:60px 80px;
    background-color: aliceblue;
    color: darkslategray;
    border: 8px solid slategrey;
    border-radius: 10px;
    font-size:17px;
}

#image1{    
    width:100%;
    border-top-left-radius: 440px;
    border-bottom-right-radius: 440px;
}

article {
    background-color:  darkslategrey;
    border: 5px solid aliceblue;
    padding:40px 0;
    
}